@model User
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-6 mx-auto">
    <div class="card">
        <div class="card-header">
            <h2>Register</h2>
        </div>
        <div class="card-body">
            @if (TempData["Error"] != null)
            {
                <div>
                    <h5>@TempData["Error"]</h5>
                </div>
            }
            <form method="post">
                <div>
                    @Html.DisplayNameFor(x => x.Username)
                    @Html.ValidationMessageFor(x => x.Username)
                    @Html.TextBoxFor(x => x.Username, new { @class = "form-control" })
                </div>
                <div>
                    @Html.DisplayNameFor(x => x.Email)
                    @Html.ValidationMessageFor(x => x.Email)
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                </div>
                <div>
                    @Html.DisplayNameFor(x => x.Password)
                    @Html.ValidationMessageFor(x => x.Password)
                    @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
                </div>
                <button style="margin-bottom:10px; margin-top:10px;" type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
</div>

