@model List<MVC_Area.Models.Order_Detail>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card mt-5">
    <div class="card-header">
        <h4>ORDER DETAILS</h4>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Product ID</th>
                    <th>Unit Price</th>
                    <th>Quantity</th>
                    <th>Discount</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var od in Model)
                {
                    <tr>
                        <td>@od.OrderID</td>
                        <td>@od.ProductID</td>
                        <td>@od.UnitPrice</td>
                        <td>@od.Quantity</td>
                        <td>@od.Discount</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

