@model List<MVC_Area.Models.Supplier>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card mt-5">
    <div class="card-header">
        <h4>SUPPLIERS</h4>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Supplier ID</th>
                    <th>Company Name</th>
                    <th>Contact Name</th>
                    <th>Contact Title</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var supplier in Model)
                {
                <tr>
                    <td>@supplier.SupplierID</td>
                    <td>@supplier.CompanyName</td>
                    <td>@supplier.ContactName</td>
                    <td>@supplier.ContactTitle</td>
                    <td>@supplier.Phone</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

